{% extends 'chefs/header.njk' %}
{% block head %}
    <title>Create Recipe</title>
    <link rel="stylesheet" href="/create.css"/>
    <link rel="stylesheet" href="/header.css"/>
{% endblock %}

{% block content %}
<div class="content">
    <h2>Criando Chef</h2>
    <form action="/admin/chefs" method="post">
        <div>
            <button type="submit" class="submit">Salvar chef</button>
        </div>

        <div class="item">
            <div>
                <h3>Nome</h3>
            </div>
            <div><input type="text" name="name"></div>
        </div>

        <div class="item">
            <div>
                <h3>Avatar</h3>
            </div>
            <div><input type="url" name="avatar_url"></div>
        </div>
    </form>
</div>

<script src="/scripts.js"></script>
<footer></footer>
{% endblock content %}