<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>Admin</title>
    {% endblock head %}
</head>
<body>
    <header>
    <div class="menu">
        <a href="/"><img src="/assets/logo-white.png" alt="logo-foodfy"/></a>
        <div class="links">
            <a href="/admin/recipes" >RECEITAS</a>
            <a href="/admin/chefs" >CHEFS</a>
        </div>
    </div>
</header>
{% block content %}
    
    {% endblock content %}
</body>
</html>