{% extends 'layout.njk' %}
{% block head %}
    <title>Recipes</title>
    {# <link rel="stylesheet" href="/styles.css"> #}
    <link rel="stylesheet" href="/id.css">
{% endblock %}

{% block content %}
    <div class="recipe-img">
        <img src="{{recipes.image}}" alt="image of {{recipes.title}}">
    </div>
    <div class="title">
        <div>
            <h1>{{recipes.title}}</h1>
        </div>
        <div>
            <p>por
                {{recipes.author}}</p>
        </div>
    </div>
    <div class="ingredients-title">
        <h2>Ingredientes</h2>
        <h3 class="button">Esconder</h3>
        <div class="recipe">
            <ul>
                {% for ingredient in recipes.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="prep-title">
        <h2>Modo de preparo</h2>
        <h3 class="button">Esconder</h3>
        <div class="recipe">
            <ul>
                {% for prep in recipes.preparation %}
                    <li>{{prep}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="info-title">
        <h2>Informações adicionais</h2>
        <h3 class="button">Esconder</h3>
        <div class="info">
            {{recipes.information}}
        </div>
    </div>

{% endblock %}