{% extends 'layout.njk' %}
{% block head %}
<title>Recipes</title>
<link rel="stylesheet" href="/styles.css">
{% endblock %}

{% block content %}
<div class="content">
  <section class="cards">
  {% for recipe in recipes %}  
    <div class="card" id={{loop.index-1}}>
      <div class="card-img">
        <img src="{{recipe.image}}" alt="img of {{recipe.title}}"/>
      </div>
      <div class="card-title">
        <p>{{recipe.title}}</p>
      </div>
      <div class="card-autor">
        por
        {{recipe.chef_name}}
      </div>
    </div>
  {% endfor %}
  </section>
  </div>
  <!-- fim Content-->
</div>
{% endblock %}


